{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}
{% block title %}{% trans "Publicaciones" %} | {{slug}}{% endblock  %}
{% block content %}

<section class="container-fluid bg-search">
    <div class="container section-search">
        <div class="row">
            <div class="col-12">
                <h2>{{slug}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% comment %} {% include 'frontend/_base_components/search_component.html' %} {% endcomment %}
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-12 my-5">
            <div class="row header-content">
                <!-- Izquierda -->
                <div class="col title-section-content">
                    <i class="icon icon-guias"></i>
                    <h2>{{slug}}</h2>
                </div>
            </div>
        </div>
    </div>
    {% include 'country/includes/post_horizontal_2.html' with name=slug %}
    <div class="row py-5">
        <div class="col-auto mx-auto py-2">
            {% if posts.has_previous %}
            <a class="btn btn-primary"
                href="{{request.path}}?page={{posts.previous_page_number}}">{% trans "Previous" %}</a>
            {% endif %}
        </div>
        <div class="col-auto mx-auto py-2">
            {% if posts.has_next %}
            <a class="btn btn-primary" href="{{request.path}}?page={{posts.next_page_number}}">{% trans "Next" %}</a>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}