{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<!-- EXTRA CSS -->
{% endblock extra_css %}

{% block content %}

{% include 'includes/navbar.html' with page='noticias' %}



<!-- Start Main Hero Area -->
<div class="main-hero-area">
    <div class="page-banner-areaGeneral">
        <div class="main-hero-item ">
            <div class="container-fluid1">
                <div class="news" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true"></div>
                <div class="main-hero-content">                           
                   
                    <span data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true"></span>
                    <h4 data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true"><img src="{% static 'images/blog/ita_news.png' %}" style="width: 250px;" /> </h4>
                    <h4 data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">Entérate cuáles son los caminos para desarrollar <br/> e implementar en el mundo tecnológico.</h4>
                    
                    <div class="slides-btn" data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                        <a href="#" class="default-btn">Contáctanos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Hero Area -->


       

        <!-- Start News Area -->
        <div class="about-area pb-100">
            <div class="container-fluid1">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5">
                        <div class="about-content" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            <div class="row">
                                <ul class="rating-list">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                </ul>
                            </div>                            
                            <span>#Tecnología</span>
                            <h5>Reducir costos y aumentar tus margenes con la tecnología.<span class="overlay"></span></h5>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h6>    
                            <a href="#"><span>Leer artículo completo <i class="ri-arrow-right-fill"></i> </span></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="tamImageServicios" >
                            <img src="{% static 'images/blog/tecnologia.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End News Area -->

        <!-- Start Blog Area -->
        <div class="blog-area pb-100">
            <div class="container-fluid1">                
                <div class="section-titleNews">
                    <h2>Trending <span>topics</span><span class="overlay"></span></h2>
                </div>

                <div class="row centrarServicios">
                    <div class="col-lg-4 col-sm-6">
                        <div class="boxRedondoNews">
                            <div class="espacio"></div>
                            <div class="slides-btn" data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                                <a href="#" class="default-btn">Inteligencia artificial</a>
                            </div>
                        </div>
                
                    </div>
                    
                    <div class="col-lg-4 col-sm-6">
                        <div class="boxRedondoNews">
                            <div class="espacio"></div>
                            <div class="slides-btn" data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                                <a href="#" class="default-btn">Innovación</a>
                            </div>
                        </div>
                
                    </div>
                    
                    <div class="col-lg-4 col-sm-6">
                        <div class="boxRedondoNews">
                            <div class="espacio"></div>
                            <div class="slides-btn" data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                                <a href="#" class="default-btn">Tecnología</a>
                            </div>
                        </div>
                
                    </div>
                </div>
                
                
            </div>
        </div>
        <!-- End Blog Area -->

        <!-- Start Blog Area -->
        <div class="blog-area pb-100">
            <div class="container-fluid1">               
                <div class="section-titleNews">
                    <h2>Entérate de más...<span class="overlay"></span></h2>
                </div>
                <div class="row centrarServicios">

                    <div class="col-lg-4 col-sm-6">
                        <div class="boxRedondoNews2">
                            <div class="circulo"></div>
                            <div class="textoFecha">                                        
                                01/07/2022
                            </div>                                                  
                            <div class="textoTitulo">                                        
                                Why do we use it?
                            </div>  
                            <div class="textoContenido">                                        
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                            </div>  
                            <div class="textoVer">
                                <a href="#">
                                    Ver más ->
                                </a>
                            </div> 
                        </div>                              
                    </div>
                   
                    <div class="col-lg-4 col-sm-6">
                        <div class="boxRedondoNews2">
                            <div class="circulo"></div>
                            <div class="textoFecha">                                        
                                01/07/2022
                            </div>                                                  
                            <div class="textoTitulo">                                        
                                Why do we use it?
                            </div>  
                            <div class="textoContenido">                                        
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                            </div>  
                            <div class="textoVer">
                                <a href="#">
                                    Ver más ->
                                </a>
                            </div>                                    
                        </div>                              
                    </div>
                    
                    <div class="col-lg-4 col-sm-6">
                        <div class="boxRedondoNews2">
                            <div class="circulo"></div>
                            <div class="textoFecha">                                        
                                01/07/2022
                            </div>                                                  
                            <div class="textoTitulo">                                        
                                Why do we use it?
                            </div>  
                            <div class="textoContenido">                                        
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                            </div>  
                            <div class="textoVer">
                                <a href="#">
                                    Ver más ->
                                </a>
                            </div>                                   
                        </div>                              
                    </div>

                </div>
               
            </div>
        </div>
        <!-- End Blog Area -->

{% include 'includes/footer.html' %}    

{% endblock content %}