
.hero-proyectos{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
  }
  
  .main-hero-content-proyectos{
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
  }
  
  .content-proyect-contact{
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid green; */
  }
  .proyectos{
    padding: 0;
    margin: 0;
    width: 700px;
    height: 650px;
    /* border: 1px solid red; */
  }

  .circular-back{                                   /*IMAGEN BACKGROUND REDONDEADA, SE MODIFICA CON LAS CLASES .circular-right o .circular-left*/
    background-repeat: no-repeat;
    background-size: 1400px 150% !important;
    width: 100%;
    height: 630px; 
    z-index: 10;
    /* border: 1px solid red; */
}
.circular-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-position: left;
    background-image: url(../images/fondos/redondo-left.png);
}
.circular-right{
    background-position: right;
    background-image: url(../images/fondos/redondo-right.png);
}


  /*==============PROYECTOS===================*/

.big-projects-content{
/* border: 3px solid yellow; */
}

.pont-proyect{
    margin-top: 200px;
    /* border: 3px solid yellow; */
}

/*----------header---------------*/
.proyect-header{
    display: flex;
    justify-content: space-between;
    /* border: 3px solid green; */
    height: 220px;
}

.proyect-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 3px solid red; */
    height: 1;
    margin-left: 10%;
}
.small-title{
    color: #2372e8;
    font-size: 30px;
}
.big-title{
    color: black;
    font-weight: 400;
    font-size: 80px;
}

.pont-img{                     /*PONT IMG ESTA DENTRO DE PROYECT-HEADER pero se mueve con pos relative*/
    position: relative;
    bottom: 0px;
    width: 900px;
    height: 680px;
    
}
/*----------header---------------*/


.pont-info{
    /* border: 2px solid orangered !important; */
    width: 600px;
    margin-left: 10%;
}






  /*===================FIN PROYECTOS HERO=================*/