{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<!-- EXTRA CSS -->
{% endblock extra_css %}

{% block content %}

{% include 'includes/navbar.html' with page='contacto' %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/three.js' %}"></script>
<script type="module" src="{% static 'js/index.mjs' %}"></script>

{% endblock %}


<!-- Start Main Hero Area -->
<div class="main-hero-area">
    <div class="page-banner-areaGeneral">
        <div class="main-hero-item ">
            <div class="container-fluid1">
                <div class="proyectos" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true"></div>
                <div class="main-hero-content">                           
                   
                    <span data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true"></span>
                    <h1 data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">Contáctanos<span class="overlay"></span></h1>
                    <h4 data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">Materializamos tu idea</h4>
                    
                    <div class="slides-btn" data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                        <a href="#" class="default-btn">Contáctanos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Hero Area -->


 

    <!-- Start Talk Area -->
    <div class="talk-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="talk-imageConta">
                        <img src="{% static 'images/talk/talk-1.png' %}" alt="image">
                        <!--<div id="app"></div>-->
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="talk-content margin-zero">
                        <span>Deja un comentario.</span>
                        <h3>Nos gustaría saber más sobre tí. <span class="overlay"></span></h3>

                        <form id="contactFormTwo">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" required data-error="Por favor escribe tu nombre" placeholder="Nombre">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" required data-error="Por favor escribe tu correo electrónico" placeholder="Correo Electrónico">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control" required data-error="Por favor escribe un asunto" placeholder="Asunto">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="number" name="email" class="form-control" required data-error="Por favor escribe tu teléfono" placeholder="Teléfono">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" cols="30" rows="6" required data-error="Por favor escribe tu mensaje" placeholder="Escribe un mensaje..."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="default-btn">Enviar Mensaje<span></span></button>
                                    <div id="msgSubmitTwo" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Talk Area -->


    <!-- Start Overview Area -->
    <!--
 <div class="overview-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="overview-card">
                    <h3>Telefono</h3>
                    <span>
                        <a href="tel:9901234567">(55) 55555555</a>
                    </span>

                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="overview-card">
                    <h3>Email </h3>
                    <span>
                        <a href="mailto:contacto.consult.ita@gmail.com">contacto.consult.ita@gmail.com</a>
                    </span>

                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="overview-card">
                    <h3>Soporte Tecnico</h3>
                    <span>
                        <a href="tel:15143125678">(55) 444444</a>
                    </span>

                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="overview-card">
                    <h3>Dirección</h3>
                    <span>xxxxxxxxxxxxxxxxxxxx</span>

                </div>
            </div>
        </div>
    </div>
</div>
-->
<!-- End Overview Area -->


   


{% include 'includes/footer.html' %}    

{% endblock content %}