<!-- {% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

{% include 'includes/navbar.html' with page='nosotros' %} -->

 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">

        <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/css/aos.css">
        <link rel="stylesheet" href="../../static/css/animate.min.css">
        <link rel="stylesheet" href="../../static/css/remixicon.css">
        <link rel="stylesheet" href="../../static/css/odometer.min..css">
        <link rel="stylesheet" href="../../static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../../static/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="../../static/css/magnific-popup.min.css">
        <link rel="stylesheet" href="../../static/css/fancybox.min.css">
        <link rel="stylesheet" href="../../static/css/nice-select.min.css">
        <link rel="stylesheet" href="../../static/css/navbar.css">
        <link rel="stylesheet" href="../../static/css/footer.css">
        <link rel="stylesheet" href="../../static/css/dark.css">
		<link rel="stylesheet" href="../../static/css/responsive.css">
        <link rel="icon" type="image/png" href="../../static/images/favicon.png">


    <title>Nosotros</title>
</head>
<body>







     
     <!--==========================NAVBAR==========================-->



     <div class="navbar-area">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="#">
                            <img src="../../static/images/logo.png" alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-navbar navbar-with-navy-color">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="#">
                        <img src="../../static/images/logo.png" alt="image">
                    </a>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a href="home_page.html" class="nav-link " >Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="nosotros.html" class="nav-link active">Nosotros</a>
                            </li>
                            <!--
                            <li class="nav-item">
                                <a href="/proyectos/" class="nav-link {% if page == 'proyectos' %} active {% endif %}">Proyectos</a>
                            </li>
                            -->
                            <li class="nav-item">
                                <a href="servicios.html" class="nav-link ">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a href="noticias.html" class="nav-link ">News</a>
                            </li>
                            <!--
                            <li class="nav-item">
                                <a href="/contacto/" class="nav-link {% if page == 'contacto' %} active {% endif %}">Contacto</a>
                            </li>
                            -->
                        </ul>

                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <i class="search-btn ri-search-line"></i>
                                <i class="close-btn ri-close-line"></i>
                                <div class="search-overlay search-popup">
                                    <div class='search-box'>
                                        <form class="search-form">
                                            <input class="search-input" placeholder="Buscar..." type="text">

                                            <button class="search-button" type="submit">
                                                <i class="ri-search-line"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="option-item">
                                <div class="side-menu-btn">
                                    <i class="ri-bar-chart-horizontal-line" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="option-inner">
                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <i class="search-btn ri-search-line"></i>
                                <i class="close-btn ri-close-line"></i>
                                <div class="search-overlay search-popup">
                                    <div class='search-box'>
                                        <form class="search-form">
                                            <input class="search-input" placeholder="Search..." type="text">

                                            <button class="search-button" type="submit">
                                                <i class="ri-search-line"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="option-item">
                                <div class="side-menu-btn">
                                    <i class="ri-bar-chart-horizontal-line" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

     <!-- Sidebar Modal -->
     <div class="sidebarModal modal right fade" id="sidebarModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal"><i class="ri-close-line"></i></button>

                <div class="modal-body">
                    <a href="index.html">
                        <img src="../../static/images/logo_black.png" class="black-logo" alt="image">
                        <img src="../../static/imagesimages/logo.png" class="white-logo" alt="image">
                    </a>
                    <div class="sidebar-content">
                        <h3>Acerca de</h3>
                        <p>Seleccionamos y trabajamos con un cupo limitado de propuestas para ser parte de proyectos tecnológicos innovadores que logren cambiar el mundo.

                            Desarrollamos software que logre materializar ideas con tecnología disruptiva.
                        </p>

                        <div class="sidebar-btn">
                            <a href="contacto.html" class="default-btn">Contactanos</a>
                        </div>
                    </div>
                    <div class="sidebar-contact-info">
                        <h3>Información de contacto</h3>

                        <ul class="info-list">
                            <!-- <li><i class="ri-phone-fill"></i> <a href="tel:5548457290"><FONT FACE="Uber Move Medium">(55)48457290</FONT></a></li></a></li>-->
                            
                            <li ><i class="ri-mail-line "></i> <a href="mailto:contacto.ita@globalita.io">contacto.ita@globalita.io</a></li> 

                            <!-- <li><i class="ri-map-pin-line"></i> boulevard de las Rosas, Coacalco de Berriozabal</li> -->
                        </ul>
                    </div>
                    <ul class="sidebar-social-list">
                        <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-instagram-fill"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-behance-fill"></i></a></li>
                    </ul>
                    <div class="contact-form">
                        <h3>Deja tu mensaje</h3>

                        <form id="contactForm" autocomplete="off">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <input id="form-name" type="text" name="name" class="form-control" required data-error="Por favor escribe tu nombre" placeholder="Nombre">
                                        <div class="help-block with-errors " id="name-err" style="display:none ;">
                                            <ul class="list-unstyled">
                                                <li >El nombre debe ser mayor a 2 caracteres</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <input id="form-email" type="email" name="email" class="form-control" required data-error="Por favor escribe tu correo electrónico" placeholder="Correo Electrónico">
                                        <div class="help-block with-errors " id="email-err" style="display:none ;">
                                            <ul class="list-unstyled">
                                                <li >El email debe tener un formato válido</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <input id="form-affair" type="text" name="affair" class="form-control" required data-error="El asunto debe tener al menos 5 caracteres" placeholder="Asunto">
                                        <div class="help-block with-errors " id="affair-err" style="display:none ;">
                                            <ul class="list-unstyled">
                                                <li >El asunto debe tener al menos 5 caracteres</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input id="form-phone" type="text" name="phone_number" class="form-control" required data-error="El teléfono debe tener un formato válido" placeholder="Teléfono">
                                        <div class="help-block with-errors " id="phone-err" style="display:none ;">
                                            <ul class="list-unstyled">
                                                <li >El teléfono debe tener un formato válido</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" id="form-message" class="form-control" cols="30" rows="6" required data-error="El mensaje debe tener al menos 10 caracteres" placeholder="Escribe un mensaje..."></textarea>
                                        <div class="help-block with-errors " id="message-err" style="display:none ;">
                                            <ul class="list-unstyled">
                                                <li >El mensaje debe tener al menos 10 caracteres</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" id="contact-page_button" class="default-btn">Enviar mensaje<span></span></button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==========================FIN NAVBAR==========================-->


















 <!-- Start Main Hero Area -->
 <div class="main-hero-area">
    <div class="page-banner-areaGeneral">

        <div class="main-hero-item ">
            <div class="entrada" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true"></div>
                
            <!-- <div class="robot" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true"></div> -->

            <div class="main-hero-content">                           
                <span data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true"></span>
                <h1 data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">Nosotros<span class="overlay"></span></h1>
                <h4 data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">Te presentamos a ITA TEAM</h4>
                
                <div class="slides-btn" data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                    <a href="contacto.html" class="default-btn">Contáctanos</a>
                </div>
            </div>
        </div>




        <!-- <div class="main-hero-item ">
            <div class="container-fluid1">
                <div class="entrada" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true"></div>
                <div class="main-hero-content">                           
                   
                    <span data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true"></span>
                    <h1 data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">Nosotros<span class="overlay"></span></h1>
                    <h4 data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">Te presentamos a ITA TEAM</h4>
                    
                    <div class="slides-btn" data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                        <a href="contacto.html" class="default-btn">Contáctanos</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- End Main Hero Area -->



<!-- Start About Area -->
<div class="about-area ">
    
    <img src="/static/images/fondos/fondo_redondo.png" class="fondo_cisrular_team" alt="image"/>
    <div class="about-area-nosotros">        
        <div class="ita-team-img_container">
            <img src="../../static/images/about/Recurso 283.png" class="fondo_team" alt="image"><span class="overlay"></span>
        </div>
        <div class="content-ita-team-data">   
                <div class="about-content-nos" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <!--<span>WHO WE ARE</span>-->
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h5><b>Nuestro Equipo Multidisciplinario que busca <FONT color="#df0176">innovación e impacto mundial </FONT>con tu proyecto. </FONT></b></h5>
                    <br>
                    <br>
                    <div class="parrafo">Tecnología-UX/UI Motion Graphics-Comercial</div>
                    <br>
                    <br>
                    <br>
                    
                </div>
            <div>
                <div class="about-image-nos">
                    <img src="../../static/images/about/team.png" alt="image" class="tamImageNos" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                </div>
            </div>
        </div>
    </div>    
</div>
<!-- End About Area -->
<!-- Start Choose Area -->
<div class="choose-area nos-team_profiles_container">
        <div class="nos-team_profiles">


            <div class="profile-container">
                <div class="boxRedondoNosotros1">
                    <img src="../../static/images/team/Unzaga-Augusto _ CCO.png" alt="image" class="tamImagenos1">
                </div>                                      
                <br>
                <div class="profile-data-text">
                    <div class="nombreTeam ">Augusto Unzaga</div>
                    <div class="cargoTeam ">CCO</div>                
                </div>
            </div>
            
            <div class=" profile-container">
                <div class="boxRedondoNosotros1">
                    <img src="../../static/images/team/Carreño-Alejandro _ CTO.png" alt="image" class="tamImagenos1">
                </div>                                      
                <br>
                <div class="profile-data-text">
                    <div class="nombreTeam">Alejandro Carreño</div>
                    <div class="cargoTeam">CTO</div>                
                </div>
            </div>
            
            
            <div class=" profile-container">
                <div class="boxRedondoNosotros1">
                    <img src="../../static/images/team/Ortega-Liss-J.png" alt="image" class="tamImagenos1">
                </div>  
                <br>
                <div class="profile-data-text">
                    <div class="nombreTeam">Liss Ortega</div>
                    <div class="cargoTeam">Redacción</div>                
                </div>
            </div>
           
            <div class=" profile-container">
                <div class="boxRedondoNosotros1"> 
                    <img src="../../static/images/team/David.png" alt="image" class="tamImagenos1">                        
                </div>
                <br>
                <div class="profile-data-text">
                    <div class="nombreTeam">David Luna</div>
                    <div class="cargoTeam">Software architect</div>                
                </div>
            </div>
            
            <div class=" profile-container">
                <div class="boxRedondoNosotros1">
                    <img src="../../static/images/team/Busatto-Sofía.png" alt="image" class="tamImagenos1">
                </div>                                      
                <br>
                <div class="profile-data-text">
                    <div class="nombreTeam">Sofía Busatto</div>
                    <div class="cargoTeam">Diseñadora UI UX</div>                
                </div>
            </div>
            
            
            <div class=" profile-container">
                <div class="boxRedondoNosotros1">
                    <img src="../../static/images/team/Francisco.png" alt="image" class="tamImagenos1">
                </div>
                <br>
                <div class="profile-data-text">
                    <div class="nombreTeam">Francisco Hernández</div>
                    <div class="cargoTeam">Software architect</div>                
                </div>
            </div>

            <div class=" profile-container">
                <div class="boxRedondoNosotros1">
                    <img src="../../static/images/team/Simon-Azocar.png" alt="image" class="tamImagenos1">
                </div>
                <br>
                <div class="profile-data-text">
                    <div class="nombreTeam">Simon Azocar</div>
                    <div class="cargoTeam">Frontend developer</div>                
                </div>
            </div>
            
            <div class=" profile-container">
                <div class="boxRedondoNosotros1">
                    <img src="../../static/images/team/Reinaldo-Romero.png" alt="image" class="tamImagenos1">
                </div>
                <br>
                <div class="profile-data-text">
                    <div class="nombreTeam">Reinaldo Romero</div>
                    <div class="cargoTeam">Fullstack developer</div>                
                </div>
            </div>
            
            
            <div class=" profile-container">
                <div class="boxRedondoNosotros1">
                    <img src="../../static/images/team/Sebastian-Belettieri.png" alt="image" class="tamImagenos1">              
                </div>
                <br>
                <div class="profile-data-text">
                    <div class="nombreTeam">Sebastian Belettieri</div>
                    <div class="cargoTeam">Frontend developer</div>                
                </div>
            </div>

            <div class=" profile-container">
                <div class="boxRedondoNosotros1">
                    <img src="../../static/images/team/Castelli-Facundo.png" alt="image" class="tamImagenos1">                    
                </div>
                <br>
                <div class="profile-data-text">
                    <div class="nombreTeam">Facundo Castelli</div>
                    <div class="cargoTeam">Fullstack developer</div>                
                </div>
            </div>
            
            <div class=" profile-container">
                <div class="boxRedondoNosotros1">
                    <img src="../../static/images/team/Stramucci-José.png" alt="image" class="tamImagenos1">                           
                </div>
                <br>
                <div class="profile-data-text">
                    <div class="nombreTeam">José Stramucci</div>
                    <div class="cargoTeam">UI UX</div>                
                </div>
            </div>
            
            
            <div class=" profile-container">
                <div class="boxRedondoNosotros1">
                    <img src="../../static/images/team/Mauricio-Caci.png" alt="image" class="tamImagenos1">              
                </div>
                <br>
                <div class="profile-data-text">
                    <div class="nombreTeam">Caci Mauricio</div>
                    <div class="cargoTeam">Fullstack developer</div>                
                </div>
            </div>
           

            <div class=" profile-container">
                <div class="boxRedondoNosotros1">
                    <img src="../../static/images/team/Witzel-Federico.png" alt="image" class="tamImagenos1">                      
                </div>
                <br>
                <div class="profile-data-text">
                    <div class="nombreTeam">Federico Witzel</div>
                    <div class="cargoTeam">Fullstack developer</div>                
                </div>
            </div>
           
        </div>
       
        <div  data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">

            <div class="about-btn centerBoton">
                <a href="contacto.html" class="default-btn">Contáctanos</a>
            </div>
        </div>
</div>


<!--=============================FOOTER=================================================================== -->
    
    
<footer class="footer-area with-navy-background margin-zero pt-50 ">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <!--<div class="single-footer-widget" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">-->
                    <div class="single-footer-widget">
                        
                        <table class="centertable">
                            <tr>
                                <td style="vertical-align:middle;">
                                    <div class="widget-logo">
                                        <a href="#"><img src="../../static/images/logo.png" alt="image"></a>
                                        
                                    </div>
                                </td>
                                <td >
                                    <div class="vertical-line"></div>
                                </td>
                                <td style="vertical-align:middle;">
                                    <ul class="widget-social">
                                        <li>
                                            <a href="https://www.facebook.com/globalita.io" target="_blank">
                                                <i class="ri-facebook-fill"></i>
                                            </a>
                                        </li>
                                        <!--
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>
    
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="ri-youtube-fill"></i>
                                                </a>
                                            </li>
                                        -->
                                        
                                        <li>
                                            <a href="https://www.behance.net/globalita" target="_blank">
                                                <i class="ri-behance-fill"></i>
                                            </a>
                                        </li>
                                        
                                        <li>
                                            <a href="https://www.instagram.com/globalita.io/" target="_blank">
                                                <i class="ri-instagram-line"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                    </table>
                   
                    

                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-area-content">
                <!--Copyright <script>document.write(new Date().getFullYear())</script>-->
                <p>
                    © ITA MÉXICO.&nbsp; TODOS LOS DERECHOS RESERVADOS. 
                </p>
            </div>
        </div>
    </div>

</footer>
    <!--=============================FOOTER=================================================================== -->

        <script   script type="text/javascript" src="../../static/js/ita.js"></script>
        <!-- Links of JS files -->
        <script src="../../static/js/jquery.min.js"></script>
        <script src="../../static/js/bootstrap.bundle.min.js"></script>
        <script src="../../static/js/jquery.meanmenu.js"></script> 
        <script src="../../static/js/owl.carousel.min.js"></script>
        <script src="../../static/js/jquery.appear.js"></script>
        <script src="../../static/js/odometer.min.js"></script>
        <script src="../../static/js/jquery.magnific-popup.min.js"></script>
        <script src="../../static/js/fancybox.min.js"></script>
        <script src="../../static/js/tweenmax.min.js"></script>
        <script src="../../static/js/ScrollMagic.min.js"></script>
        <script src="../../static/js/animation.gsap.min.js"></script>
        <script src="../../static/js/debug.addIndicators.min.js"></script>
        <script src="../../static/js/mixitup.min.js"></script>
        <script src="../../static/js/nice-select.min.js"></script>
        <script src="../../static/js/tilt.jquery.min.js"></script>
        <script src="../../static/js/parallax.min.js"></script>
		<script src="../../static/js/jquery.ajaxchimp.min.js"></script>
		<script src="../../static/js/form-validator.min.js"></script>
        <script src="../../static/js/contact-form-script.js"></script>
        <script src="../../static/js/aos.js"></script>
        <script src="../../static/js/wow.min.js"></script>
        <script src="../../static/js/main.js"></script>
        <script type="text/javascript" src="../../static/js/three.js"></script>
        <script type="module" src="../../static/js/index.mjs"></script>


</body>
</html>
<!-- End Choose Area -->



<!-- 'includes/footer.html    

{% endblock content %} -->