<!-- {% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

{% include 'includes/navbar.html' with page='nosotros' %} -->

 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">

        <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/css/aos.css">
        <link rel="stylesheet" href="../../static/css/animate.min.css">
        <link rel="stylesheet" href="../../static/css/remixicon.css">
        <link rel="stylesheet" href="../../static/css/odometer.min..css">
        <link rel="stylesheet" href="../../static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../../static/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="../../static/css/magnific-popup.min.css">
        <link rel="stylesheet" href="../../static/css/fancybox.min.css">
        <link rel="stylesheet" href="../../static/css/nice-select.min.css">
        <link rel="stylesheet" href="../../static/css/navbar.css">
        <link rel="stylesheet" href="../../static/css/footer.css">
        <link rel="stylesheet" href="../../static/css/dark.css">
		<link rel="stylesheet" href="../../static/css/responsive.css">
        <link rel="icon" type="image/png" href="../../static/images/favicon.png">


    <title>Document</title>
</head>
<body>


 <!-- Start Main Hero Area -->
 <div class="main-hero-area">
    <div class="page-banner-areaGeneral">
        <div class="main-hero-item ">
            <div class="container-fluid1">
                <div class="entrada" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true"></div>
                <div class="main-hero-content">                           
                   
                    <span data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true"></span>
                    <h1 data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">Nosotros<span class="overlay"></span></h1>
                    <h4 data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">Te presentamos a ITA TEAM</h4>
                    
                    <div class="slides-btn" data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                        <a href="/contacto/" class="default-btn">Contáctanos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Hero Area -->




<!-- Start About Area -->
<div class="about-area ">
    
    <img src="/static/images/fondos/fondo_redondo.png" class="fondo_cisrular_team" alt="image"/>
    <div class="about-area-nosotros">        
        <div class="ita-team-img_container">
            <img src="../../static/images/about/Recurso 283.png" class="fondo_team" alt="image"><span class="overlay"></span>
        </div>
        <div class="content-ita-team-data">   
                <div class="about-content-nos" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <!--<span>WHO WE ARE</span>-->
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h5><b>Nuestro Equipo Multidisciplinario que busca <FONT color="#df0176">innovación e impacto mundial </FONT>con tu proyecto. </FONT></b></h5>
                    <br>
                    <br>
                    <div class="parrafo">Tecnología-UX/UI Motion Graphics-Comercial</div>
                    <br>
                    <br>
                    <br>
                    
                </div>
            <div>
                <div class="about-image-nos">
                    <img src="../../static/images/about/team.png" alt="image" class="tamImageNos" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                </div>
            </div>
        </div>
    </div>    
</div>
<!-- End About Area -->
<!-- Start Choose Area -->
<div class="choose-area ptb-200">
    <div class="container-fluid1">

        <div class="row">
            
            <!--
                <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros">
                    <div class="imagen">        
                        <img src="../../static/images/team/Unzaga-Augusto _ CCO.png" alt="image" class="tamImagenos1">
                        <div class="imagen1">
                            "Si quieres ir rapido, ve solo. Si quieres llegar lejos, ve acompañado"
                        </div>
                        
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam">Augusto Unzaga</div>
                <div class="cargoTeam">CCO</div>                
            </div>
            -->
            <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros1">
                    <div class="imagen">        
                        <img src="../../static/images/team/Unzaga-Augusto _ CCO.png" alt="image" class="tamImagenos1">
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam ">Augusto Unzaga</div>
                <div class="cargoTeam ">CCO</div>                
            </div>
            <div class="espacioNosotros"></div>
            <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros1">
                    <div class="imagen">        
                        <img src="../../static/images/team/Carreño-Alejandro _ CTO.png" alt="image" class="tamImagenos1">
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam">Alejandro Carreño</div>
                <div class="cargoTeam">CTO</div>                
            </div>
            
            <div class="espacioNosotros"></div>
            <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros1">
                    <div class="imagen">        
                        <img src="../../static/images/team/Ortega-Liss-J.png" alt="image" class="tamImagenos1">
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam">Liss Ortega</div>
                <div class="cargoTeam">Redacción</div>                
            </div>
           
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros1">
                    <div class="imagen">        
                        <img src="../../static/images/team/David.png" alt="image" class="tamImagenos1">
                        
                        
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam">David Luna</div>
                <div class="cargoTeam">Software architect</div>                
            </div>
            <div class="espacioNosotros"></div>
            <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros1">
                    <div class="imagen">        
                        <img src="../../static/images/team/Busatto-Sofía.png" alt="image" class="tamImagenos1">
                        
                        
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam">Sofía Busatto</div>
                <div class="cargoTeam">Diseñadora UI UX</div>                
            </div>
            
            <div class="espacioNosotros"></div>
            <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros1">
                    <div class="imagen">        
                        <img src="../../static/images/team/Francisco.png" alt="image" class="tamImagenos1">
                       
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam">Francisco Hernández</div>
                <div class="cargoTeam">Software architect</div>                
            </div>
           
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros1">
                    <div class="imagen">        
                        <img src="../../static/images/team/Simon-Azocar.png" alt="image" class="tamImagenos1">
                      
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam">Simon Azocar</div>
                <div class="cargoTeam">Frontend developer</div>                
            </div>
            <div class="espacioNosotros"></div>
            <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros1">
                    <div class="imagen">        
                        <img src="../../static/images/team/Reinaldo-Romero.png" alt="image" class="tamImagenos1">
                       
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam">Reinaldo Romero</div>
                <div class="cargoTeam">Fullstack developer</div>                
            </div>
            
            <div class="espacioNosotros"></div>
            <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros1">
                    <div class="imagen">        
                        <img src="../../static/images/team/Sebastian-Belettieri.png" alt="image" class="tamImagenos1">
                       
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam">Sebastian Belettieri</div>
                <div class="cargoTeam">Frontend developer</div>                
            </div>
           
        </div>

        <br>
        <br>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros1">
                    <div class="imagen">        
                        <img src="../../static/images/team/Castelli-Facundo.png" alt="image" class="tamImagenos1">
                       
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam">Facundo Castelli</div>
                <div class="cargoTeam">Fullstack developer</div>                
            </div>
            <div class="espacioNosotros"></div>
            <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros1">
                    <div class="imagen">        
                        <img src="../../static/images/team/Stramucci-José.png" alt="image" class="tamImagenos1">
                        
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam">José Stramucci</div>
                <div class="cargoTeam">UI UX</div>                
            </div>
            
            <div class="espacioNosotros"></div>
            <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros1">
                    <div class="imagen">        
                        <img src="../../static/images/team/Mauricio-Caci.png" alt="image" class="tamImagenos1">
                       
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam">Caci Mauricio</div>
                <div class="cargoTeam">Fullstack developer</div>                
            </div>
           
        </div>

        <br>
        <br>
        <div class="row">

            <div class="col-lg-3 col-sm-6">
                <div class="boxRedondoNosotros1">
                    <div class="imagen">        
                        <img src="../../static/images/team/Witzel-Federico.png" alt="image" class="tamImageNosotros">
                        
                    </div>                                      
                </div>
                <br>
                <div class="nombreTeam">Federico Witzel</div>
                <div class="cargoTeam">Fullstack developer</div>                
            </div>
           
        </div>
       
        <div class="section-titleNosotros" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">

            <div class="about-btn centerBoton">
                <a href="/contacto/" class="default-btn">Contáctanos</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../static/js/ita.js"></script>
        <!-- Links of JS files -->
        <script src="../../static/js/jquery.min.js"></script>
        <script src="../../static/js/bootstrap.bundle.min.js"></script>
        <script src="../../static/js/jquery.meanmenu.js"></script> 
        <script src="../../static/js/owl.carousel.min.js"></script>
        <script src="../../static/js/jquery.appear.js"></script>
        <script src="../../static/js/odometer.min.js"></script>
        <script src="../../static/js/jquery.magnific-popup.min.js"></script>
        <script src="../../static/js/fancybox.min.js"></script>
        <script src="../../static/js/tweenmax.min.js"></script>
        <script src="../../static/js/ScrollMagic.min.js"></script>
        <script src="../../static/js/animation.gsap.min.js"></script>
        <script src="../../static/js/debug.addIndicators.min.js"></script>
        <script src="../../static/js/mixitup.min.js"></script>
        <script src="../../static/js/nice-select.min.js"></script>
        <script src="../../static/js/tilt.jquery.min.js"></script>
        <script src="../../static/js/parallax.min.js"></script>
		<script src="../../static/js/jquery.ajaxchimp.min.js"></script>
		<script src="../../static/js/form-validator.min.js"></script>
        <script src="../../static/js/contact-form-script.js"></script>
        <script src="../../static/js/aos.js"></script>
        <script src="../../static/js/wow.min.js"></script>
        <script src="../../static/js/main.js"></script>
        <script type="text/javascript" src="../../static/js/three.js"></script>
        <script type="module" src="../../static/js/index.mjs"></script>


</body>
</html>
<!-- End Choose Area -->



<!-- 'includes/footer.html    

{% endblock content %} -->