{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<!-- EXTRA CSS -->
{% endblock extra_css %}

{% block content %}

{% include 'includes/navbar.html' with page='servicios' %}



<!-- Start Main Hero Area -->
<div class="main-hero-area">
    <div class="page-banner-areaGeneral">
        <div class="main-hero-item ">
            <div class="container-fluid1">
                <div class="proyectos" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true"></div>
                <div class="main-hero-content">                           
                   
                    <span data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true"></span>
                    <h1 data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">Servicios<span class="overlay"></span></h1>
                    <h4 data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">Materializamos tu idea</h4>
                    
                    <div class="slides-btn" data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                        <a href="#" class="default-btn">Contáctanos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Hero Area -->



<!-- Inicia Propuestas de valor Area -->

<div class="about-area ptb-100">
    <div class="container-fluid1">
        <div class="row align-items-center">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="about-image" >
                        <img src="{% static 'images/services/Servicios.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div>
                        <h3><FONT FACE="Uber Move Medium" size="6">Software de Producto</FONT> <span class="overlay"></span></h3>
                        <p><FONT FACE="Uber Move Medium" size="4">Procesos</FONT></p>
                    </div>
         

                    <div class="row align-items-center">
                        <div class="row">
                            <div class="col-lg-2 col-md-12">
                                <div class="about-image" data-tilt>
                                <img src="{% static 'images/services/Serv_Borde.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                                </div>

                                <div>
                                    <p><FONT FACE="Uber Move Medium">Desarrollo propuesta de valor</FONT></p>
                                </div> 
                            </div>

                            <div class="col-lg-2 col-md-12">
                                <div class="about-image" data-tilt>
                                <img src="{% static 'images/services/Serv_Borde.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                                </div>
                            </div>
                    
                            <div class="col-lg-2 col-md-12">
                                <div class="about-image" data-tilt>
                                <img src="{% static 'images/services/Serv_Borde.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                                </div>
                            </div>
                        
                            <div class="col-lg-2 col-md-12">
                                <div class="about-image" data-tilt>
                                <img src="{% static 'images/services/Serv_Borde.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-12">
                                <div class="about-image" data-tilt>
                                <img src="{% static 'images/services/Serv_Borde.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-12">
                                <div class="about-image" data-tilt>
                                <img src="{% static 'images/services/Serv_Borde.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="about-area">
    <div class="container-fluid1">
        <div class="row align-items-center">
            
            <div class="col-lg-6 col-md-12">
                <div>
                    <h3><FONT FACE="Uber Move Medium" size="6">Software de Implementación</FONT> <span class="overlay"></span></h3>
                    <p><FONT FACE="Uber Move Medium" size="4">Procesos</FONT></p>
                </div>
        
            
                <div class="row align-items-center">
                    <div class="row">

                    
                        <div class="col-lg-2 col-md-12">
                            <div class="about-image" data-tilt>
                            <img src="{% static 'images/services/Serv_Borde.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            </div>

                            <div>
                                <p><FONT FACE="Uber Move Medium">Desarrollo propuesta de valor</FONT></p>
                            </div> 
                        </div>

                        <div class="col-lg-2 col-md-12">
                            <div class="about-image" data-tilt>
                            <img src="{% static 'images/services/Serv_Borde.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            </div>
                        </div>
                
                        <div class="col-lg-2 col-md-12">
                            <div class="about-image" data-tilt>
                            <img src="{% static 'images/services/Serv_Borde.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            </div>
                        </div>
                    
                        <div class="col-lg-2 col-md-12">
                            <div class="about-image" data-tilt>
                            <img src="{% static 'images/services/Serv_Borde.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-12">
                            <div class="about-image" data-tilt>
                            <img src="{% static 'images/services/Serv_Borde.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-12">
                            <div class="about-image" data-tilt>
                            <img src="{% static 'images/services/Serv_Borde.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            

            <div class="col-lg-3 col-md-12">
                <div class="about-image" >
                    <img src="{% static 'images/services/Servicios1.png' %}"  alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Finaliza Propuestas de valor Area -->

<br>


<!-- Inicia Servicios -->
<div class="services-area-style-two pt-100 pb-100">

    <div class="container-fluid1">
        <div class="row centrarServicios">
            <div class="col-lg-1 col-sm-6">
                <div class="boxRedondoServicios" onmouseover="apareceProductos('productos')" onmouseout="desapareceProductos('productos')">
                    <div class="imagen">        
                        <img src="{% static 'images/choose/choose-1.png' %}" alt="image"></img>
                        
                        <!--<div class="imagen1">
                            "Si quieres ir rapido, ve solo. Si quieres llegar lejos, ve acompañado"
                        </div>-->
                    </div>    
                    <div class="titulo">
                        Productos
                    </div>
                </div>
        
            </div>
            <div class="espacioServicios"></div>
            <div class="col-lg-1 col-sm-6">
                <div class="boxRedondoServicios" onmouseover="apareceProductos('desarrollo')" onmouseout="desapareceProductos('desarrollo')">
                    <div class="imagen">        
                        <img src="{% static 'images/choose/choose-2.png' %}" alt="image"></img>
                        
                        <!--<div class="imagen1">
                            "Si quieres ir rapido, ve solo. Si quieres llegar lejos, ve acompañado"
                        </div>-->
                    </div>    
                    <div class="titulo">
                        Desarrollo
                    </div>
                </div>
        
            </div>
            <div class="espacioServicios"></div>
            <div class="col-lg-1 col-sm-6">

                <div class="boxRedondoServicios" onmouseover="apareceProductos('recurente')" onmouseout="desapareceProductos('recurente')">
                    <div class="imagen">        
                        <img src="{% static 'images/choose/choose-3.png' %}" alt="image"></img>
                        
                        <!--<div class="imagen1">
                            "Si quieres ir rapido, ve solo. Si quieres llegar lejos, ve acompañado"
                        </div>-->
                    </div>    
                    <div class="titulo">
                        Recurente
                    </div>
                </div>
            </div>
            <div class="espacioServicios"></div>
            <div class="col-lg-2 col-sm-6">

                <div class="boxRedondoServicios" onmouseover="apareceProductos('consultoria')" onmouseout="desapareceProductos('consultoria')">
                    <div class="imagen">        
                        <img src="{% static 'images/choose/choose-4.png' %}" alt="image"></img>
                        
                        <!--<div class="imagen1">
                            "Si quieres ir rapido, ve solo. Si quieres llegar lejos, ve acompañado"
                        </div>-->
                    </div>    
                    <div class="titulo">
                        Consultoría
                    </div>
                </div>
            </div>
        </div>

       

        <div class="row centrarServiciosfondo" id="productos" >
            <div class="contenidoDivServicios">
                
                <div class="row contenidoServicios">
                    <div class="col-lg-4 col-md-12">
                        <div class="about-image" >
                            <img src="{% static 'images/services/recurso-web.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div>
                            <p>Productos</p>
                            <h3>Aplicar fácil y rápido tecnologías en tu organización.</h3>
                            <ul class="pricing-list">
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Chatbot</FONT></li>
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Chat</FONT></li>
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Tienda Digital</FONT></li>
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Website/Landing Page</FONT></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row centrarServiciosfondo" id="desarrollo">
            <div class="contenidoDivServicios">
                
                <div class="row contenidoServicios">
                    <div class="col-lg-4 col-md-12">
                        <div class="about-image" >
                            <img src="{% static 'images/services/recurso-web.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div>
                            <p>Desarrollo</p>
                            <h3>Aplicar fácil y rápido tecnologías en tu organización.</h3>
                            <ul class="pricing-list">
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Chatbot</FONT></li>
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Chat</FONT></li>
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Tienda Digital</FONT></li>
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Website/Landing Page</FONT></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row centrarServiciosfondo" id="recurente">
            <div class="contenidoDivServicios">
                
                <div class="row contenidoServicios">
                    <div class="col-lg-4 col-md-12">
                        <div class="about-image" >
                            <img src="{% static 'images/services/recurso-web.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div>
                            <p>Recurente</p>
                            <h3>Aplicar fácil y rápido tecnologías en tu organización.</h3>
                            <ul class="pricing-list">
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Chatbot</FONT></li>
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Chat</FONT></li>
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Tienda Digital</FONT></li>
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Website/Landing Page</FONT></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row centrarServiciosfondo" id="consultoria">
            <div class="contenidoDivServicios">
                
                <div class="row contenidoServicios">
                    <div class="col-lg-4 col-md-12">
                        <div class="about-image" >
                            <img src="{% static 'images/services/recurso-web.png' %}" alt="image" data-aos="fade-down" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div>
                            <p>Consultoría</p>
                            <h3>Aplicar fácil y rápido tecnologías en tu organización.</h3>
                            <ul class="pricing-list">
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Chatbot</FONT></li>
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Chat</FONT></li>
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Tienda Digital</FONT></li>
                                <li><i class="ri-check-fill"></i> <FONT FACE="Uber Move Medium" size="2" color="#fff">Website/Landing Page</FONT></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>    
</div>
<!-- End Choose Area -->


<!--Inicia Partner Digital -->
<div class="about-area ptb-100">
    <img src="/static/images/fondos/fondo_redondo.png" class="fondo_cisrular_servicios" alt="image"/>
    <div class="container-fluid1">
        <div class="talk-content margin-zero">
            <h4>Te presentamos a nuestro</h4>
            <h5>Partner digital comercial</h5>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="talk-content margin-zero">
                    <h6>3A PARTNER DIGITAL</h6>
                    <br>
                    <P><FONT FACE="Uber Move Medium">Es un equipo enfocado en desarrollar, planificar e</FONT>
                    <br><FONT FACE="Uber Move Medium">implementar accionespublicitarias digitales.</FONT>
                    <br><FONT FACE="Uber Move Medium">En conjunto con ellos vamos a acompañarte para</FONT>
                    <br><FONT FACE="Uber Move Medium">lograr llevar adelante <b>tu producto al mercado.</b></FONT></P>
                </div>
                <br>
                <br>
                <div class="talk-content margin-zero">
                    <a href="#">
                    <p><b><FONT FACE="Uber Move Medium" color="#df0176">Conocé más -></FONT></b>
                    </a>
                </div>        
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="talk-image" >
                    <img src="{% static 'images/services/3av1.png' %}" width="50%" height="50%" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Finaliza Partner Digital -->

<!-- Inicia Proyectos -->
<!--<div class="projects-area with-black-background pb-100">-->
    <div class="choose-area pt-100 pb-100">
        <div class="container-fluid">
            <div class="section-title">
                <!--<span>PROJECTS</span>-->                
                <h2>Algunos de nuestros <span>proyectos</span><span class="overlay"></span></h2>
                <!--<p>We are leading technology solutions providing company all over the world doing over 40 years lorem ipsum dolor sit amet.</p>-->
            </div>

            <div class="projects-slides owl-carousel owl-theme">
                <div class="projects-item" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <div class="projects-image">
                        <a href="projects.html"><img src="{% static 'images/projects/ICA_1.png' %}" alt="image"></a>
                    </div>
                    <div class="projects-content">
                        <h3>
                            <a href="projects.html">ICA</a>
                        </h3>
                        <a href="projects.html" class="projects-btn">Ver más...</a>
                    </div>
                </div>

                <div class="projects-item" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                    <div class="projects-image">
                        <a href="projects.html"><img src="{% static 'images/projects/Alchyme_1.png' %}" alt="image"></a>
                    </div>
                    <div class="projects-content">
                        <h3>
                            <a href="projects.html">Alchyme</a>
                        </h3>
                        <a href="projects.html" class="projects-btn">Ver más...</a>
                    </div>
                </div>

              

                <div class="projects-item" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="projects-image">
                        <a href="projects.html"><img src="{% static 'images/projects/Ki_1.png' %}" alt="image"></a>
                    </div>
                    <div class="projects-content">
                        <h3>
                            <a href="projects.html">Ki</a>
                        </h3>
                        <a href="projects.html" class="projects-btn">Ver más...</a>
                    </div>
                </div>
              
            </div>
        </div>
    </div>

<!-- End Projects Area -->







{% block javascript %}

<script type="text/javascript">

    function cargar(){
        var productos = document.getElementById("productos");        
        //productos.style.display = "none";
        productos.style.cssText = 'opacity: 0; position:absolute;  transition: opacity 1s linear; transform: translate(-120%); transition-property: transform; transition-duration: 1s; transition-timing-function: linear;';

        var desarrollo = document.getElementById("desarrollo");        
        //desarrollo.style.display = "none";
        desarrollo.style.cssText = 'opacity: 0; position:absolute;  transition: opacity 1s linear; transform: translate(-120%); transition-property: transform; transition-duration: 1s; transition-timing-function: linear;';

        var recurente = document.getElementById("recurente");        
        //recurente.style.display = "none";
        recurente.style.cssText = 'opacity: 0; position:absolute;  transition: opacity 1s linear; transform: translate(-120%); transition-property: transform; transition-duration: 1s; transition-timing-function: linear;';

        var consultoria = document.getElementById("consultoria");        
        //consultoria.style.display = "none";
        consultoria.style.cssText = 'opacity: 0; position:absolute;  transition: opacity 1s linear; transform: translate(-120%); transition-property: transform; transition-duration: 1s; transition-timing-function: linear;';

        
    }

    cargar();

    function apareceProductos(id){
        var x = document.getElementById(id);        
        //x.style.display = "";
        x.style.cssText = 'opacity: 1; position:relative;  transition: opacity 1s linear; transform: translate(0%); transition-property: transform; transition-duration: 1s; transition-timing-function: linear;';
        //x.style.cssText = 'opacity: 1; position:relative;  animation-duration: 3s; animation-name: slidein;';
        
            
    }
    function desapareceProductos(id){
        var x = document.getElementById(id); 
        //for (i = 0; i <= 10; i++){
          //  setTimeout("document.getElementById('"+id+"').style.opacity = '" + (i / 10) + "'", (10 - i) * 100)       
        //}
        //x.style.display = "none";
        x.style.cssText = 'opacity: 1; position:absolute;  transition: opacity 1s linear; transform: translate(-120%); transition-property: transform; transition-duration: 1s; transition-timing-function: linear;';
            
    }

</script>

{% endblock %} 

{% include 'includes/footer.html' %}   

{% endblock content %}
